html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

body {
    padding-top: 80px;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: repeat(2,50%);
    align-items: center;
    padding: 0 1em;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    z-index: 1000;
  }  


/******* ここからメインエリアのスタイル ********/
.body{
    padding-top: 80px;
}
.main{
    margin-top: 80px;
}

.inuja{
    width: calc(100% / 3);
}

.nekonote{
    text-align: center;
}

footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:100%;
    text-align: center;
}
ul{
    padding: 0;
    /* border-top: 1px solid #000000; */
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    /* border: 1px solid #666; */
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}

.gu_btn:hover, .cho_btn:hover, .pa_btn:hover, .uranaisuru:hover {
    transition: all 0.3s;
    transform: scale(1.2);
}

/* uranai */
.uranai .disabled{
    pointer-events: none;
}
.uranai .disabled {
    pointer-events: none;
}

.uranaisuru {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.uranaiinu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.uranaiinu li {
    list-style-type: none;
    margin: 10px;
    text-align: center;
}

.uranaiinu img {
    display: block;
    margin: 0 auto;
    max-width: 100px; /* 画像のサイズを適切に調整 */
    height: auto;
}

.footer {
    background-color: #707070; /* フッターの背景色 */
    height: 60px; /* フッターの高さ */
    color: white; /* テキストの色 */
    display: flex; /* フレックスボックスを使用して中央配置 */
    align-items: center; /* 縦方向に中央揃え */
    justify-content: center; /* 横方向に中央揃え */
    padding: 0 20px; /* 左右にパディングを追加（必要に応じて調整） */
    box-sizing: border-box; /* パディングとボーダーを含める */
}